# Gradle files
.gradle/
build/

# Local configuration
local.properties

# Android Studio files
.idea/
*.iml

# OS files
.DS_Store

# Logs
*.log

# External native build
.externalNativeBuild/
.cxx/

# APK / build outputs
*.apk
*.aab
output-metadata.json

# Keystore files
*.jks
*.keystore

# Profiling
*.hprof
